<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- importing the file from the partial folder -->
    <%- include('../partials/head.ejs') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container mt-4">
      <h1>Hey i am from Express JS Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perferendis
      perspiciatis doloremque, rem atque unde blanditiis est, facere ad quia
      quasi odio officia distinctio voluptas quod. Eaque officiis aut omnis
      fugit cumque in debitis nobis ipsum ab non vel sint ut, delectus dicta,
      inventore quam autem doloribus similique porro id minima nemo quasi. Iste,
      soluta!
    </p>

    <a href="/download">Downlaod file </a>
    </div>
  </body>
</html>
