<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/head.ejs') %>
   
    <title><%= title %></title>
  </head>
  <body>

    <%- include('../partials/nav.ejs') %>

    <div class="container mt-4">
      <h1>Our Products </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum ad autem,
      quaerat iste repellat aliquid dolorum accusantium officiis fuga! Dolor
      doloribus rem nostrum, ipsa, eum consequatur culpa dolorum totam,
      recusandae inventore quasi ex expedita nemo commodi. Eius accusantium
      exercitationem similique natus veniam, laboriosam unde. Illum ea assumenda
      atque nostrum ipsa sed itaque blanditiis ducimus harum? Magnam, molestias.
      Nesciunt exercitationem autem adipisci eaque optio nisi consequuntur modi
      praesentium ex corporis.z
    </p>
    </div>
    <div id="app" class="container mt-4 ">

    </div>
    <%- include('../partials/scripts.ejs'); %>
  </body>
</html>
